$main-dark: #16161F;
$main-mid: #1C1C2A;
$main-light: #292949b7;

$green-mid: #0C9049;
$green-light: #12aa59;
$green-super-light: #1abd66;
$green-default: $green-mid;

$blue-mid: #4D79FF;
$blue-light: #668cff;
$blue-default: $blue-mid;

$red-mid: #B13535;
$red-light: #ca4646;
$red-default: $red-mid;

$font-white: #C9D1D9;
$font-default: $font-white;

$default-gray: #8C8C8C;